@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #9c27b0;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
::-moz-selection {
  color: #fff;
  background: #4a148c;
}
::selection {
  color: #fff;
  background: #4a148c;
}

.app {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 900px) {
  .app {
    height: 100vh;
  }
}

.avatar-box {
  position: relative;
  width: 320px;
  height: 320px;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-box::before {
  content: "";
  width: 100px;
  height: 100%;
  position: absolute;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  z-index: 1;
  animation: imageAnimation 3s linear infinite;
}

@keyframes imageAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 70px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loader {
  width: 10px;
  height: 10px;
  margin: 40px auto;
  border-radius: 50%;
  background: #fff;
}

.active button,
.header button:hover {
  color: var(--primary-color);
}